@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #feffd2;
  color: #ff7d29;
}

nav {
  background-color: #ff7d29;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav input[type="text"] {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.hero {
  background: #ffeea9;
  color: #121113;
  text-align: center;
  padding: 50px 20px;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero-content .logo {
  display: block;
  margin: 0 auto;
}

.hero-content #cta-button {
  margin-top: 20px;
  background-color: #ff7d29;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}

.hero-content #cta-button:hover {
  background-color: #ffbf78;
  color: white;
}

.featured-tools,
.testimonials {
  padding: 50px 20px;
  text-align: center;
}

.featured-tools h2,
.testimonials h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.featured-tools .tools-cards,
.testimonials .testimonials-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.featured-tools ul,
.testimonials p {
  margin: 0 auto;
  max-width: 800px;
  list-style: none;
  padding: 0;
}

.featured-tools ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.featured-tools {
  padding: 50px 20px;
  text-align: center;
}

.featured-tools h2 {
  margin-bottom: 20px;
  font-size: 2em;
}

.tools-cards,
.testimonial-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: #ff7f29c5;
  border: 1px solid #ff7d29;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
  color: white;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto 10px;
}

footer {
  background-color: #ff7d29;
  color: white;
  text-align: center;
  padding: 10px 20px;
}

footer p a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.result {
  display: none;
  margin-top: 20px;
}

#prediction-form {
  display: flex;
  flex-direction: column;
}

#prediction-form label {
  margin-top: 10px;
}

#prediction-form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#prediction-form button {
  background-color: #ff7d29;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}
